server {
    listen 443 ssl;
    server_name elk.loc;

    ssl_certificate /etc/ssl/{{ ansible_hostname }}/elk.loc.crt;
    ssl_certificate_key /etc/ssl/{{ ansible_hostname }}/elk.loc.key;

    location / {
        proxy_pass http://192.168.57.15:5601;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }
}
