server {
    listen 443 ssl;
    server_name prometheus.loc;

    ssl_certificate /etc/ssl/{{ ansible_hostname }}/prometheus.loc.crt;
    ssl_certificate_key /etc/ssl/{{ ansible_hostname }}/prometheus.loc.key;

    location / {
        proxy_pass http://localhost:9090;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }
}
